@model CP.Entities.Model.Contact


<div class="modal inmodal" id="ContactAddModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-plus mr-2"></i>İletişim Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("ContactAddOperation", "Company", FormMethod.Post, new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    OnSuccess = "returnPostJson(data)",
                    LoadingElementId = "loading-background",
                    OnComplete = "ContactList()"
                },
                new
                {
                    @class = "ContactAdd",
                    @id = "frmContactAdd",
                    @name = "frmContactAdd",
                }))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-group">
                        @Html.LabelFor(model => model.Description)
                        @Html.EditorFor(model => model.Description, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LocationGeneral)
                        @Html.EditorFor(model => model.LocationGeneral, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LocationGeneral, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone)
                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Fax)
                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address)
                        @Html.TextAreaFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Twitter)
                        @Html.EditorFor(model => model.Twitter, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Twitter, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Facebook)
                        @Html.EditorFor(model => model.Facebook, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Facebook, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Instagram)
                        @Html.EditorFor(model => model.Instagram, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Instagram, "", new { @class = "text-danger error-validate" })
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="FormClear('frmContactAdd')" id="btnContactClear">
                    <i class="fa fa-trash mr-1"></i>
                    Temizle
                </button>
                <button type="button" class="btn btn-primary" onclick="FormPost('frmContactAdd')" id="btnContactAdd">
                    <i class="fa fa-save mr-1"></i>
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>



