@using C = CP.Entities.Model;
@model C.User

<div class="modal inmodal" id="UserUpdateModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-users mr-2"></i>Kullanıcı Güncelle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @using (Ajax.BeginForm("UserUpdateOperation", "User", FormMethod.Post, new AjaxOptions()
                {
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST",
                    OnSuccess = "returnPostJson(data)",
                    LoadingElementId = "loading-background",
                    OnComplete = "UserList()"
                },
                new
                {
                    @class = "frmUserUpdate",
                    @id = "frmUserUpdate",
                    @name = "frmUserUpdate",
                    @enctype = "multipart/form-data"
                }))
                {
                    @Html.AntiForgeryToken()

                    <input type="hidden" value="@Model.Id" name="Id" />


                    <div class="form-group">
                        @Html.LabelFor(model => model.FirstName)
                        @Html.EditorFor(model => model.FirstName, "", new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName)
                        @Html.EditorFor(model => model.LastName, "", new { htmlAttributes = new { @class = "form-control text-editor", @spellcheck = "false" } })
                        @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Username)
                        @Html.EditorFor(model => model.Username, "", new { htmlAttributes = new { @class = "form-control text-editor", @spellcheck = "false" } })
                        @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email)
                        @Html.EditorFor(model => model.Email, "", new { htmlAttributes = new { @class = "form-control text-editor", @spellcheck = "false" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password)
                        @Html.EditorFor(model => model.Password, "", new { htmlAttributes = new { @class = "form-control text-editor", @spellcheck = "false" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger error-validate" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Image)
                        <div class="custom-file">
                            @Html.TextBoxFor(model => model.Images, "", new { @type = "file", @class = "custom-file-input" })
                            @Html.LabelFor(model => model.Image, (ViewBag.ProductName as string) ?? "Resim Seçiniz", new { @class = "custom-file-label", @data_browse = "Seçiniz" })
                            @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger error-validate" })
                            <input type="hidden" value="@Model.Image" name="Image" />
                        </div>
                        @if (Model.Image != null)
                        {
                            <div class="mt-2 ImageCancel">
                                <i class="fas fa-times text-danger mr-2" style="color:red"></i><label class="text-danger">Resmi kaldır</label>
                            </div>
                        }
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="UserUpdateClear">
                    <i class="fa fa-trash mr-1"></i>
                    Temizle
                </button>
                <button type="button" class="btn btn-primary" id="UserUpdatesSave">
                    <i class="fas fa-user-plus mr-1"></i>
                    Kaydet
                </button>
            </div>
        </div>
    </div>
</div>