@model List<CP.Entities.Model.Product>
@{
    ViewBag.Title = "Yemekler";
}

@section css{
    <link href="~/Content/framework/DataTable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}


<div class="card mt-2">
    <div class="card-header">
        <h2>Ürünler</h2>
    </div>
    <div class="card-body">
        <div class="card-title">
            <div class="row">
                <div class="col-7 mt-1">
                    <div class="d-flex flex-row bd-highlight mb-3">
                        <div class="p-2 bd-highlight">
                            <div class="dropdown">
                                <a class="btn btn-info dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-folder mr-1"></i> Dosya İşlemleri
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-import mr-1"></i> Excel ile Ekle</a>
                                    <a class="dropdown-item" href="#"><i class="fas fa-file-export mr-1"></i> Excel'e Aktar</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-print mr-1"></i> Yazdır</a>
                                    <a class="dropdown-item" href="#"><i class="fa fa-file-image-o mr-1"></i> Görsel Al</a>
                                </div>
                            </div>
                        </div>
                        <div class="p-2 bd-highlight">
                            <button class="btn btn-success" id="btnSecilenler">
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div class="p-2 bd-highlight">
                            <button class="btn btn-primary" id="ProductAdd">
                                <i class="fas fa-plus mr-1"></i> Kategori Ekle
                            </button>
                            <button class="btn btn-danger" id="ProductRemoveAll">
                                <i class="fa fa-trash mr-1"></i> Kategorileri Sil
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-text">
            <div class="table table-responsive tblresponsive">
                <table class="table table-bordered display no-wrap" cellspacing="0" width="100%" id="tblProduct">
                    <thead>
                        <tr>
                            <th name="first">
                                <div class="custom-control Checkall  custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="CheckAll">
                                    <label class="custom-control-label" for="CheckAll"></label>
                                </div>
                            </th>
                            <th>Adı</th>
                            <th>Açıklama</th>
                            <th>Bilgiler</th>
                            <th>Kategori</th>
                            <th>Fiyat</th>
                            <th>Miktar</th>
                            <th>Resim</th>
                            <th>İşlemler</th>
                        </tr>
                    </thead>
                    <tbody id="TdCategoryList">
                        @foreach (var product in Model)
                        {
                            <tr>
                                <td>
                                    <div class="custom-control  custom-checkbox">
                                        <input type="checkbox" class="custom-control-input check" value="@product.Id" id="Check-@product.Id">
                                        <label class="custom-control-label" for="Check-@product.Id"></label>
                                    </div>
                                </td>
                                <td>
                                    @product.Name
                                </td>
                                <td>
                                    @product.ProductDetail
                                </td>
                                <td>
                                    @product.Information
                                </td>
                                <td>
                                    @product.Category.Name
                                </td>
                                <td>
                                    @product.Price
                                </td>
                                <td>
                                    @product.Amount
                                </td>
                                <td class="text-center">

                                    <img src="@(Url.Content(product.Image ?? "~/Content/image/no-image.png"))" height="30" class="avatar-sm no-image" />


                                    @*@if (string.IsNullOrEmpty(product.Image))
                                    {
                                        <img src="~/Content/image/no-image.png" height="30" class="avatar-sm no-image" />
                                    }
                                    else
                                    {
                                        <img src="@(Url.Content(product.Image))" height="30" class="avatar-sm ImgView" alt="Kategori Resmi Gözükmüyor" />
                                    }*@
                                </td>
                                <td>
                                    <i class="fas fa-pencil-alt ProductUpdate mr-2" data-id="@product.Id"></i>

                                    <i class="fa fa-trash ProductDelete" data-id="@product.Id"></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Html.Action("ProductAdd", new { Controller = "Home", Action = "ProductAdd" })


@section js{

    <script src="~/Content/framework/ckeditor/ckeditor.js"></script>
    <script src="~/Content/framework/DataTable/js/jquery.dataTables.min.js"></script>
    <script src="~/Content/framework/DataTable/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Content/js/Pagejs/Meal.js"></script>
}